			* {
				user-select: none;
				cursor: url(https://cdn.jsdelivr.net/gh/moezx/cdn@3.1.9/img/Sakura/cursor/normal.cur),auto;
			}
			body {
				margin: 0;
				padding: 0;
				transition: all .5s;
				cursor:url(https://cdn.jsdelivr.net/gh/moezx/cdn@3.1.9/img/Sakura/cursor/normal.cur),auto;
			}
			ul {
				list-style: none;
			}
			/* pc端 */
			#pc_box {
				/* height: 1900px; */
				transition: all .5s;
				position: relative;
			}
			#pc_work {
				width: 800px;
				height: 1900px;
				/* border: #000000 2px solid; */
				margin: 0 auto;
				position: relative;
			}
			#pc_head_readme {
				height: 1067px;
				background: rgba(255,248,220,.9);
				border-radius: 15px;
			}
			#pc_nav{
				transition: all .5s;
				height: 80px;
				width: 100%;
				background-color: white;
				position: fixed;
				box-shadow: 0 1px 20px;
				z-index: 10;
			}
			#pc_nav li:hover {
				border-bottom: #FFA500 4px solid;
			}
			#pc_nav_bak {
				height: 80px;
				width: 100%;
			}
			.pc_head_name {
				font-size: 25px;
				line-height: 40px;
				font-weight: 600;
				position: absolute;
				left: 130px;
				top: 15px;
				color: black;
				padding: 5px;
				user-select: none;
			}
			.pc_head_name:hover {
				color: white;
				background-color: orange;
				border-radius: 9px;
			}
			.pc_work_head {
				height: 400px;
				width: 100%;
				/* border: red 2px solid; */
				position: absolute;
				top: 190px;
				
			}
			.li_img:hover {
				transform: scale(1.5);
				cursor: url(https://cdn.jsdelivr.net/gh/moezx/cdn@3.1.9/img/Sakura/cursor/ayuda.cur),auto;
			}
			#pc_work_head_img:hover{
				transform: rotate(360deg);
			}
			.title_1 {
				margin: 60px auto;
				width: 80%;
				height: 300px;
				border-radius: 5px;
				box-shadow: 0 1px 20px -6px rgb(0 0 0 / 50%);
				overflow: hidden;
			}
			.title_img {
				transition: all .3s;
			}
			.title_1:hover .title_img{
				transform: scale(1.5);
			}
			
			/* h1将作为文章标题前标识符 */
			h1 {
				font-size: 18px;
				color: #202020;
				font-weight: 300;
				border-bottom: 1px dashed #ececec;
				border-bottom-width: 2px;
				border-bottom-style: dashed;
				border-bottom-color: rgb(236, 236, 236);
			}
			.pc_work_left_music_menu {
				height: 290px; 
				overflow-y: auto;
				overflow-x: hidden;
			}
			.pc_work_left_music_menu::-webkit-scrollbar{
				width: 4px;
			}
			.pc_work_left_music_menu::-webkit-scrollbar-thumb{
				border-radius: 10px;
				-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
				background: rgba(0,0,0,0.2);
			}
			.pc_work_left_music_menu::-webkit-scrollbar-track {
				-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
				border-radius: 0;
				background: rgba(0,0,0,0.1);
			
			}
			h5 {
				margin-top: 10px;
				margin-bottom: 7px;
				margin-left: 7px;
				color: #3d3d3d;
			}
			/* 修改body的右侧滚动条 */
			#body::-webkit-scrollbar{
				width: 7px;
			}
			#body::-webkit-scrollbar-thumb{
				border-radius: 10px;
				-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
				background: rgba(0,0,0,0.2);
			}
			#body::-webkit-scrollbar-track {
				-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
				border-radius: 0;
				background: rgba(0,0,0,0.1);
			}
			
			
			
			
			
			/* 移动端 */
			#mobile_box {
				width: 100%;
				height: 1900px;
				margin: 0 auto;
				position: relative;
				overflow: hidden;
			}
			#mobile__title1 {
				position: relative;
				margin: 50px auto;
				width: 90%;
				height: 110px;
				border-radius: 5px;
				box-shadow: 0 1px 20px -6px rgb(0 0 0 / 50%);
				overflow: hidden;
			}