*{
	margin: 0;
	padding: 0;
	user-select: none;
}
#main {
	width: 950px;
	height: 320px;
	margin: 200px auto;
}
#main > div > div{
	width: 150px;
	height: 160px;
	display: inline-block;
	overflow: hidden;
}
#main > div {
	display: inline-block
}
img {
	width: 1550px;
	height: 160px;
	float: left;
	transition: all 0.5s;
}
